# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file = "../WeatherPy/city_csv"

city_df = pd.read_csv(file)
city_df = city_df.drop(columns="Unnamed: 0")
city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Carnarvon,-24.87,113.63,71.60,60,100,17.22,AU,1605810365
1,Jamestown,42.10,-79.24,55.00,37,1,16.11,US,1605810345
2,Upernavik,72.79,-56.15,27.48,87,92,5.73,GL,1605810366
3,Saint-Philippe,-21.36,55.77,73.40,60,90,8.05,RE,1605810366
4,Egvekinot,66.32,-179.17,25.00,95,100,6.67,RU,1605810366
...,...,...,...,...,...,...,...,...,...
535,Batemans Bay,-35.72,150.18,59.00,95,28,4.79,AU,1605810486
536,De-Kastri,51.47,140.78,15.89,84,100,6.26,RU,1605810486
537,Tougan,13.07,-3.07,83.62,18,74,7.65,BF,1605810486
538,Sazonovo,59.09,35.23,44.33,74,100,17.11,RU,1605810486
539,Murgab,37.50,61.97,23.00,53,0,6.93,TM,1605809987

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

locations = city_df[["Lat","Lng"]].astype(float)
humidity = city_df["Humidity"].astype(float)

In [5]:


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
# Drop rows with NaN values
city_df_clean = city_df.dropna()

# Max temperature lower than 80 but higher than 70
temp70 = city_df_clean["Max Temp"] > 70
temp70 = city_df_clean.loc[temp70]
temp80 = temp70["Max Temp"] < 80
nice_weather = temp70.loc[temp80]
nice_weather.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Carnarvon,-24.87,113.63,71.60,60,100,17.22,AU,1605810365
3,Saint-Philippe,-21.36,55.77,73.40,60,90,8.05,RE,1605810366
23,â€˜Ewa Beach,21.32,-158.01,78.80,73,20,3.36,US,1605810371
27,Valle de Allende,26.93,-105.40,71.76,38,0,6.89,MX,1605810372
33,Saldanha,-33.01,17.94,73.40,43,0,17.22,ZA,1605810374

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
city_lat = nice_weather["Lat"]
city_lng = nice_weather["Lng"]

lat_lng = list(zip(city_lat, city_lng))
lat_lng

target_search = "hotel"
target_radius = 5000
target_type = "lodging"

hotels = []

# Parameters dictionary
params = {
    "location": lat_lng,
    "keyword": target_search,
    "radius" : target_radius,
    "type": target_type,
    "key": g_key
}


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url, params=params)

In [18]:
# Wind speed less than 10 mph
low_wind = nice_weather["Wind Speed"] < 10
nice_weather = nice_weather.loc[low_wind]


# Zero cloudiness
zero_clouds = nice_weather["Cloudiness"] == 0
nice_weather = nice_weather.loc[zero_clouds]
hotel_df = nice_weather

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map


# Display figure